.header {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #101828;
    /* background-color: red; */
    position: fixed;
    top: 0px;
    z-index: 1000;
    transition: 1s;
}

.headerS {
    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(16px);
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #101828;
    /* background-color: red; */
    position: fixed;
    top: 0px;
    z-index: 1000;
    transition: 1s;
}

.header_image {
    cursor: pointer;
}

.header_wrap {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #f8f8f8; */
}


.header_nav {
    display: flex;
    gap: 40px;
}

.header_nav_N {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    height: 20px;
}

.header_nav_N1 {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    height: 20px;
}


.header_nav_N p {
    height: 20px;
}

.header_nav_N1 p {
    height: 20px;
}


.header_nav_N1::after {
    content: '';
    display: block;
    background: #363F72;
    width: 20px;
    height: 2.5px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}



.header_contact {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.menu,
.menu_dropdown,
.menu_close {
    display: none;
}

@media screen and (width <=834px) {

    .header {
        height: 15vh;
        background-color: #fff;
    }

    .headerS {
        height: 15vh;
        background-color: #fff;
    }

    .header_wrap {
        width: 90%;
    }

    .header_nav {
        display: none;
    }

    .header_contact {
        display: none;
    }

    .menu {
        display: flex;
        width: 40px;
        height: 13px;
        border: none;
        border-bottom: 1.5px solid;
        border-top: 1.5px solid;
        border-color: #292D32;
        border-radius: 1px;
    }

    .menu_close {
        display: flex;
        font-size: 35px;
        border-color: #292D32;
    }

    .menu_dropdown1 {
        display: flex;
        justify-content: center;
        position: fixed;
        top: 95px;
        left: 0px;
        background-color: #fff;
        height: 100vh;
        width: 100%;
        transition: all 0.8s ease-in;
    }

    .menu_dropdown_wrap {
        width: 90%;
    }

    .menu_dropdown_wrap span {
        width: 100%;
        padding: 20px 0px;
        display: flex;
        align-items: center;
    }

    .menu_dropdown {
        display: flex;
        justify-content: center;
        position: fixed;
        top: 95px;
        left: -768px;
        height: 85vh;
        width: 100%;
        transition: all 0.8s ease-in;
    }



    .menu_dropdown_wrap span {
        width: 100%;
        padding: 20px 0px;
        display: flex;
        align-items: center;
    }



    .menu_dropdown_middle {
        border-top: 1px solid#EFF1F5;
        border-bottom: 1px solid#EFF1F5;
    }
}

@media screen and (width <=425px) {

    .header {
        height: 15vh;
    }

    .headerS {
        height: 15vh;
    }

    .header_wrap {
        width: 90%;
    }

    .header_nav {
        display: none;
    }

    .header_contact {
        display: none;
    }

    .menu {
        display: flex;
        width: 40px;
        height: 13px;
        border: none;
        border-bottom: 1.5px solid;
        border-top: 1.5px solid;
        border-color: #292D32;
        border-radius: 1px;
    }

    .menu_close {
        display: flex;
        font-size: 35px;
        border-color: #292D32;
    }

    .menu_dropdown1 {
        display: flex;
        justify-content: center;
        position: fixed;
        top: 95px;
        left: 0px;
        background-color: #fff;
        height: 100vh;
        width: 100%;
        transition: all 0.8s ease-in;
    }

    .menu_dropdown_wrap {
        width: 90%;
    }

    .menu_dropdown_wrap span {
        width: 100%;
        padding: 20px 0px;
        display: flex;
        align-items: center;
    }

    .menu_dropdown {
        display: flex;
        justify-content: center;
        position: fixed;
        top: 95px;
        left: -425px;
        height: 85vh;
        width: 100%;
        transition: all 0.8s ease-in;
    }



    .menu_dropdown_wrap span {
        width: 100%;
        padding: 20px 0px;
        display: flex;
        align-items: center;
    }



    .menu_dropdown_middle {
        border-top: 1px solid#EFF1F5;
        border-bottom: 1px solid#EFF1F5;
    }
}

@media screen and (width <=375px) {

    .header {
        height: 15vh;
    }

    .headerS {
        height: 15vh;
    }

    .header_wrap {
        width: 90%;
    }

    .header_nav {
        display: none;
    }

    .header_contact {
        display: none;
    }

    .menu {
        display: flex;
        width: 40px;
        height: 13px;
        border: none;
        border-bottom: 1.5px solid;
        border-top: 1.5px solid;
        border-color: #292D32;
        border-radius: 1px;
    }

    .menu_close {
        display: flex;
        font-size: 35px;
        border-color: #292D32;
    }

    .menu_dropdown1 {
        display: flex;
        justify-content: center;
        position: fixed;
        top: 95px;
        left: 0px;
        background-color: #fff;
        height: 100vh;
        width: 100%;
        transition: all 0.8s ease-in;
    }

    .menu_dropdown_wrap {
        width: 90%;
    }

    .menu_dropdown_wrap span {
        width: 100%;
        padding: 20px 0px;
        display: flex;
        align-items: center;
    }

    .menu_dropdown {
        display: flex;
        justify-content: center;
        position: fixed;
        top: 95px;
        left: -375px;
        height: 85vh;
        width: 100%;
        transition: all 0.8s ease-in;
    }



    .menu_dropdown_wrap span {
        width: 100%;
        padding: 20px 0px;
        display: flex;
        align-items: center;
    }



    .menu_dropdown_middle {
        border-top: 1px solid#EFF1F5;
        border-bottom: 1px solid#EFF1F5;
    }
}

@media screen and (width <=320px) {

    .header {
        height: 15vh;
    }

    .headerS {
        height: 15vh;
    }

    .header_wrap {
        width: 90%;
    }

    .header_nav {
        display: none;
    }

    .header_contact {
        display: none;
    }

    .menu {
        display: flex;
        width: 40px;
        height: 13px;
        border: none;
        border-bottom: 1.5px solid;
        border-top: 1.5px solid;
        border-color: #292D32;
        border-radius: 1px;
    }

    .menu_close {
        display: flex;
        font-size: 35px;
        border-color: #292D32;
    }

    .menu_dropdown1 {
        display: flex;
        justify-content: center;
        position: fixed;
        top: 95px;
        left: 0px;
        background-color: #fff;
        height: 100vh;
        width: 100%;
        transition: all 0.8s ease-in;
    }

    .menu_dropdown_wrap {
        width: 90%;
    }

    .menu_dropdown_wrap span {
        width: 100%;
        padding: 20px 0px;
        display: flex;
        align-items: center;
    }

    .menu_dropdown {
        display: flex;
        justify-content: center;
        position: fixed;
        top: 95px;
        left: -320px;
        height: 85vh;
        width: 100%;
        transition: all 0.8s ease-in;
    }



    .menu_dropdown_wrap span {
        width: 100%;
        padding: 20px 0px;
        display: flex;
        align-items: center;
    }



    .menu_dropdown_middle {
        border-top: 1px solid#EFF1F5;
        border-bottom: 1px solid#EFF1F5;
    }
}